# Citi Bike data cleaning & merging

In [1]:
# Dependencies
import pandas as pd

In [2]:
# Path to the CSV files

january = 'Resources/JC-202001-citibike-tripdata.csv'
february = 'Resources/JC-202002-citibike-tripdata.csv'
march = 'Resources/JC-202003-citibike-tripdata.csv'
april = 'Resources/JC-202004-citibike-tripdata.csv'
may = 'Resources/JC-202005-citibike-tripdata.csv'
june = 'Resources/JC-202006-citibike-tripdata.csv'
july = 'Resources/JC-202007-citibike-tripdata.csv'
august = 'Resources/JC-202008-citibike-tripdata.csv'
september = 'Resources/JC-202009-citibike-tripdata.csv'
october = 'Resources/JC-202010-citibike-tripdata.csv'
november = 'Resources/JC-202011-citibike-tripdata.csv'
december = 'Resources/JC-202012-citibike-tripdata.csv'

In [3]:
# Read csv files 

january_df = pd.read_csv(january)
february_df = pd.read_csv(february)
march_df = pd.read_csv(march)
april_df = pd.read_csv(april)
may_df = pd.read_csv(may)
june_df = pd.read_csv(june)
july_df = pd.read_csv(july)
august_df = pd.read_csv(august)
september_df = pd.read_csv(september)
october_df = pd.read_csv(october)
november_df = pd.read_csv(november)
december_df = pd.read_csv(december)

In [4]:
# Concatenate files

merged_df = pd.concat([january_df, february_df, march_df, april_df, may_df, june_df, july_df, 
             august_df, september_df, october_df, november_df, december_df])

merged_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11689,1750,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,40440,Customer,1969,0
11690,1519,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,-74.063913,46340,Customer,1969,0
11691,1761,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,-74.045572,40907,Customer,1998,1
11692,637,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,42250,Customer,1969,0
11693,1607,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,-74.038526,48742,Subscriber,1982,1

In [5]:
# Examine the overall data 

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336802 entries, 0 to 11693
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             336802 non-null  int64
 1   starttime                336802 non-null  object
 2   stoptime                 336802 non-null  object
 3   start station id         336802 non-null  int64
 4   start station name       336802 non-null  object
 5   start station latitude   336802 non-null  float64
 6   start station longitude  336802 non-null  float64
 7   end station id           336802 non-null  int64
 8   end station name         336802 non-null  object
 9   end station latitude     336802 non-null  float64
 10  end station longitude    336802 non-null  float64
 11  bikeid                   336802 non-null  int64
 12  usertype                 336802 non-null  object
 13  birth year               336802 non-null  int64
 14  gender                   336802 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 41.1+ MB

## Re-lable gender categories (0=unknown; 1=male; 2=female)

In [6]:
# Convert the data type of 'gender' column from number to string

merged_df['gender'] = merged_df['gender'].astype(str)

In [7]:
# Check the data type for gender

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 336802 entries, 0 to 11693
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             336802 non-null  int64
 1   starttime                336802 non-null  object
 2   stoptime                 336802 non-null  object
 3   start station id         336802 non-null  int64
 4   start station name       336802 non-null  object
 5   start station latitude   336802 non-null  float64
 6   start station longitude  336802 non-null  float64
 7   end station id           336802 non-null  int64
 8   end station name         336802 non-null  object
 9   end station latitude     336802 non-null  float64
 10  end station longitude    336802 non-null  float64
 11  bikeid                   336802 non-null  int64
 12  usertype                 336802 non-null  object
 13  birth year               336802 non-null  int64
 14  gender                   336802 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 41.1+ MB

In [8]:
# Re-categorize gender labels

merged_df = merged_df.replace({'gender': {'0': 'Unknown', '1':'Male', '2':'Female'}}, regex=True)

In [9]:
# Verify the new labels

merged_df["gender"].value_counts()

Male       199807
Female      84798
Unknown     52197
Name: gender, dtype: int64

## Birth year cleaning

In [10]:
# Examine the descriptive stats for birth years

merged_df['birth year'].describe()

count    336802.000000
mean       1981.299158
std          11.046780
min        1888.000000
25%        1969.000000
50%        1984.000000
75%        1990.000000
max        2004.000000
Name: birth year, dtype: float64

In [11]:
# Examine the distribution of birth years to find outliers
# Most birth years are 1946 and up (avg = 1981)

merged_df['birth year'].value_counts(bins=20)

(1986.6, 1992.4]      89576
(1963.4, 1969.2]      67152
(1980.8, 1986.6]      59544
(1992.4, 1998.2]      44887
(1975.0, 1980.8]      29363
(1969.2, 1975.0]      20919
(1957.6, 1963.4]      14427
(1998.2, 2004.0]       5711
(1951.8, 1957.6]       4206
(1946.0, 1951.8]        898
(1940.2, 1946.0]         89
(1887.883, 1893.8]       18
(1928.6, 1934.4]          6
(1934.4, 1940.2]          3
(1899.6, 1905.4]          2
(1917.0, 1922.8]          1
(1922.8, 1928.6]          0
(1911.2, 1917.0]          0
(1905.4, 1911.2]          0
(1893.8, 1899.6]          0
Name: birth year, dtype: int64

In [12]:
# Drop rows where the birth year is less than 1946

merged_df = merged_df[merged_df['birth year'] > 1945]

In [13]:
# Check to see that rows were dropped

merged_df.count()

tripduration               336742
starttime                  336742
stoptime                   336742
start station id           336742
start station name         336742
start station latitude     336742
start station longitude    336742
end station id             336742
end station name           336742
end station latitude       336742
end station longitude      336742
bikeid                     336742
usertype                   336742
birth year                 336742
gender                     336742
dtype: int64

## Trip duration cleaning

In [14]:
# Examine descriptive stats for trip duration (seconds)

merged_df['tripduration'].describe()

count    3.367420e+05
mean     1.574596e+03
std      1.802599e+04
min      6.100000e+01
25%      3.260000e+02
50%      6.150000e+02
75%      1.416000e+03
max      3.261756e+06
Name: tripduration, dtype: float64

In [15]:
# Examine the distribution of trip duration to find outliers
# Most cases have a trip duration less than 1108785 seconds

merged_df['tripduration'].value_counts(bins=30)

(-3200.6960000000004, 108784.167]    336509
(108784.167, 217507.333]                111
(217507.333, 326230.5]                   41
(326230.5, 434953.667]                   24
(543676.833, 652400.0]                    9
(434953.667, 543676.833]                  7
(652400.0, 761123.167]                    6
(761123.167, 869846.333]                  5
(1522185.333, 1630908.5]                  4
(1087292.667, 1196015.833]                3
(1630908.5, 1739631.667]                  3
(869846.333, 978569.5]                    3
(1196015.833, 1304739.0]                  3
(1957078.0, 2065801.167]                  2
(1848354.833, 1957078.0]                  2
(1413462.167, 1522185.333]                2
(978569.5, 1087292.667]                   2
(2065801.167, 2174524.333]                1
(2391970.667, 2500693.833]                1
(3153032.833, 3261756.0]                  1
(1304739.0, 1413462.167]                  1
(3044309.667, 3153032.833]                1
(1739631.667, 1848354.833]                1
(2283247.5, 2391970.667]                  0
(2500693.833, 2609417.0]                  0
(2609417.0, 2718140.167]                  0
(2718140.167, 2826863.333]                0
(2826863.333, 2935586.5]                  0
(2935586.5, 3044309.667]                  0
(2174524.333, 2283247.5]                  0
Name: tripduration, dtype: int64

In [16]:
# Drop rows where the trip duration is greater than 1108785 seconds

merged_df = merged_df[merged_df['tripduration'] < 108785]

In [17]:
# Check to see that rows were dropped

merged_df.count()

tripduration               336509
starttime                  336509
stoptime                   336509
start station id           336509
start station name         336509
start station latitude     336509
start station longitude    336509
end station id             336509
end station name           336509
end station latitude       336509
end station longitude      336509
bikeid                     336509
usertype                   336509
birth year                 336509
gender                     336509
dtype: int64

In [18]:
# Export data frame to a csv file
merged_df.to_csv('Resources/merged_data.csv', index = False, header=True )